In [6]:
import pandas as pd
from gmeet import open_gmeet


present_students = open_gmeet("fpiomhswez")

print(present_students)

In [7]:
t_students = list(set(['SWAPNIL SHINDE , 12A', 'A Srinivas', 'A Srinivas', 'ABHAY KUMAR SINGH , 12A', 'ABHIJIT P , 12A','ADITYA ANAND , 12A','ANKIT KUMAR , 12A','', 'ABHIRAJ KISHORE DAS , 12A', 'ABHISHEKH YADAV , 12A', 'AMRITA NAIR , 12A', 'ANKIT KUMAR SANKHUA , 12A', 'ANSHRIT SINGH , 12A', 'ARUNIM ATUL CHANDOLA , 12A', 'DEVLINA SARKAR , 12A', 'GIRIK KHULLAR , 12A', 'GODWIN GEORGE , 12A', 'IDHANT SINGH , 12A', 'ISHITA ROY , 12A', 'KUNAL ARYA , 12A', 'MD NAUSHAD , 12A', 'MOINAK HALDAR , 12A', 'NARAYAN N , 12A', 'NIHARIKA T , 12A', 'PRAKASH SINGH , 12A', 'PRIYANKA PRAHARAJ , 12A', 'RAKSHIT THAKUR , 12A', 'RITIKA MALLURU , 12A', 'SAGAR SHARMA , 12A', 'SATISH , 12A', 'SOWMYA P , 12A', 'SUNNY SHARMA , 12A','VIPIN KUMAR , 12A']))

In [8]:
present = pd.Series(list(present_students))
present

NameError: name 'present_students' is not defined

In [7]:
answer = []
t_students = ["enter name of student i your class"]
for p in present:
    if p in t_students:
        answer.append("{}: P".format(p))
    
    elif p not in t_students:
        answer.append("{}: A".format(p))
    else:
        pass

In [5]:
d = pd.Series(answer)
d.to_csv("attendence.csv")
d

NameError: name 'pd' is not defined

In [4]:
# data visvalisation
import matplotlib as plt 
import random 

temp = []
for i in range(30):
    time.append(random.randint(5,40))

time = pd.

NameError: name 'd' is not defined

In [16]:
at = pd.read_csv('attendence.csv')
at

    Unnamed: 0                              0
0            0        SWAPNIL SHINDE , 12A: P
1            1     ABHAY KUMAR SINGH , 12A: P
2            2             ABHIJIT P , 12A: P
3            3   ABHIRAJ KISHORE DAS , 12A: P
4            4       ABHISHEKH YADAV , 12A: P
5            5          ADITYA ANAND , 12A: P
6            6           AMRITA NAIR , 12A: P
7            7           ANKIT KUMAR , 12A: P
8            8   ANKIT KUMAR SANKHUA , 12A: P
9            9         ANSHRIT SINGH , 12A: P
10          10  ARUNIM ATUL CHANDOLA , 12A: P
11          11                  Asha Latha: A
12          12        DEVLINA SARKAR , 12A: P
13          13         GIRIK KHULLAR , 12A: P
14          14         GODWIN GEORGE , 12A: P
15          15          IDHANT SINGH , 12A: P
16          16            ISHITA ROY , 12A: P
17          17            KUNAL ARYA , 12A: P
18          18          MANAS ASHWIN , 12A: A
19          19            MD NAUSHAD , 12A: P
20          20         MOINAK HALDAR , 12A: P
21          21             NARAYAN N , 12A: P
22          22         PRAKASH SINGH , 12A: P
23          23     PRIYANKA PRAHARAJ , 12A: P
24          24        RAKSHIT THAKUR , 12A: P
25          25        RITIKA MALLURU , 12A: P
26          26                SATISH , 12A: P
27          27              SOWMYA P , 12A: P
28          28          SUNNY SHARMA , 12A: P
29          29        SWAPNIL SHINDE , 12A: P
30          30           VIPIN KUMAR , 12A: P